.env
venv/

dist/
build/

.hg
.svn
CVS

.cache/
.tmp
.DS_Store
.idea
Thumbs.db

.vscode/
*.code-workspace
*~
*~.nib
*.swp
*.swo
*tmx-client-*.log
.php-cs-fixer.cache

xcuserdata/
project.xcworkspace/
*.xccheckout
*.xcscmblueprint

tags
tags.tmp
tags.lock

__pycache__
node_modules/
package-lock.json
yarn.lock

.cmake
CMakeCache.txt
CMakeFiles

nvim/.config/nvim/*
nvim.log
